/* Header related styles */
.heading1{
    color: #FFFFFF;

text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 12%;
}
.heading2{
    font-family: Merriweather;
font-size: 72px;
font-weight: 900;
line-height: 95px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;
margin-top: 10px;
}
.header{
    justify-content: center;
    background-image: url('./assets/Banner\ Image.png');

    width: 1320px;
height: 600px;
border-radius: 16px;
margin-top: 50px;
display: block;
margin: 0 auto;
background-repeat: no-repeat;
}
#bodytext1{
    
   
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    letter-spacing: 0em;
    text-align: center;
    color: #FF0000;
    
}
#bodytext2{
    font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 1px;
letter-spacing: 0em;
text-align: center;
color :#FF0000;
}
#bodytext3{
    font-family: Inter;
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0em;
text-align: center;
color: #070211;
}
#newyearpic{
    width: 802.9px;
height: 500px;
top: 1076px;
display: block;
margin: 0 auto;

}
.body1{
    display: flex;
    justify-content: space-between;
  
    background-image: url('./assets/Vectorrr.png');
    background-repeat: no-repeat;
}
#2024{
    margin-right: 130px;
}